<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.model.dao.UserDao">
	<resultMap type="User" id="userMap">
		<result column="user_seq" property="userSeq" />
		<result column="id" property="id" />
		<result column="password" property="password" />
		<result column="nickname" property="nickname" />
		<result column="user_type" property="userType" />
	</resultMap>

	<insert id="insertUser" parameterType="User">
		INSERT INTO user (id, password, nickname, user_type)
		VALUES
		(#{id}, #{password}, #{nickname}, #{userType});
	</insert>

	<select id="getUser" parameterType="String" resultMap="userMap">
		SELECT * FROM user WHERE
		id=#{id}
	</select>

</mapper>